@charset "UTF-8";
*{box-sizing: border-box}
html{width: 100%;min-height: 100%;}
body{
  min-height: 100%;
}
blockquote,body,code,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
em,strong{font-style:normal;font-weight:400}
li{list-style:none}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400}
body,button,input,textarea{font-size:14px;font-family:microsoft yahei,Arial,Helvetica,sans-serif;vertical-align:middle}
a{text-decoration:none;outline:none}
a:hover{cursor:pointer;text-decoration:none}
td,th{vertical-align:top}
.fl{float:left}
.fr{float:right}
.por{position: relative}
.poa{position: absolute}
.i-b{display: inline-block;vertical-align: middle}
.block{display: block!important;}
.clear:after{content:"";display:block;clear:both}
.w1100{width: 1100px;margin: 0 auto}
.hide{display: none;}
.show{display: block}
.hashead{margin-top: 80px;}
.rotate360 {
  animation: 5s rotate360 infinite linear;
}
.clear:after{
  content: "";
  display: block;
  clear: both;
}
.cell>p[title]{
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*浮框宽度*/
.el-tooltip__popper.is-dark{
  max-width: 1000px;
}
/*富文本框隐藏toolbar*/
/*.ql-toolbar.ql-snow{*/
  /*display: none;*/
/*}*/
/*.ql-container.ql-snow{*/
  /*border-top:1px solid #ccc;*/
/*}*/
#mask {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.0);
  z-index: 9999;
}

#loading {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 40px;
  margin: auto;
  color: #ff6700;
  z-index: 10000;
}

/*需求页面实时统计和工时统计样式*/
.workHours div{
  width: 100%!important;
}
.workHours div canvas{
  width: 100%!important;
}
.sstabs .el-tabs__nav-scroll{
  background: white!important;
  color: black;
  width: 200px;
  text-align: center;
  float: right;
}
.sstabs .el-tabs__active-bar{
  height: 0;
}
.sstabs .el-tabs__nav-wrap::after{
  height: 0!important;
}
